.card{
    border-radius: 15px;
    background-color: rgb(2, 2, 67);
    width: 350px;
}
.user{
    background-color: blue;
    display: flex;
    border-radius: 15px;

}
.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    margin: 20px;
    border-radius: 50%;
}
.data{
    margin: 20px;
    margin-left: 0px;

}

.title{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 0px;
    color: rgb(77, 69, 69);
    margin-top: 15px;
}
.name{
    font-size: 30px;
    margin: 0px;
    color: white;
    letter-spacing: 3px;
}
body{
    display: flex;
    justify-content: center;
}
.period{
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 40px;
    margin-top: 0px;
    margin-bottom: 20px;
}
button{
    background-color: #23e12900;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.card-act{
    border-radius: 15px;
    width: 350px;
    margin-top:30px ;
}

.imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: -3px;
    margin-right: 20px;
}
.details{
    background-color:  rgb(2, 2, 67);
    margin-top: 0px;
    border-radius: 15px;
    display: flex;
    /* border: 5px solid  salmon; */
    flex-direction: column;
}
.color-back{
    display: flex;
    overflow: hidden;
    justify-content: end;
}
.name-act{
    margin-top: 0px;
    padding: 25px;
    font-size: 20px;
    color: white;
    margin-bottom: -10px;
    /* border: 3px solid  red; */

}
.imagenpts{
    /* border:1px solid black; */
    width: 18px;
    height: 5px;
    margin-top: 10px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
}
.head{
    display: flex;
    justify-content: space-between;
}
.bodddy{
    display: flex;
    justify-content: space-between;
}
.hours{
    margin-top: -30px;
    padding: 25px;
    font-size: 40px;
    color: white;
    margin-bottom: 0px;
}
.lastHours{
    color: rgb(121, 109, 109);
    font-size: 20px;
    margin-right: 12px;
    align-self: normal;
    margin-top: 8px;
}